.login {
    background-size: cover;
    background: 50% (50% / cover) no-repeat fixed #32323a;
    min-height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: Lato;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}

.login .container {
    text-align: left;
    min-width: 280px;
    max-width: 390px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    position: relative;
    font-family: Lato;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
}

.login .form-logo {
    width: 100%;
    border: 1px solid transparent;
    margin: 20px auto;
}

.login .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.login .form-signin .checkbox {
    font-weight: normal;
    color: #fff;
}

.login label span.checkbox-label {
    margin-left: 20px;
    display: inline-block;
}

.login .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.login .form-signin input[type=text] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login .form-signin input[type=password] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login .btn-submit {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: rgb(233, 123, 8);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: Lato;
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}