/*  style currently default to _main.scss */

footer {
    width: 100%;
    height: 60px;
    padding: 0 10%;
    margin-top: auto;
    background-color: #E4E4ED;
    display: flex;
}

.footer-block {
    margin: 20px 0;
}

footer>.row {
    flex-direction: row-reverse;
    width: 90%;
    position: absolute;
}