body {
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--font-color);
    margin: 0;
    background-color: var(--body-bg-color);
    font-family: var(--font-family-sans-serif);
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.App {
    flex: 1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
}

.cBrandingLogo {
    background-image: url(/images/clueylogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: block;
    outline: 0;
    width: 147px;
    height: 3rem;
}

.pageHeader {
    border-bottom: 1px solid;
    margin: 150px 20px 10px 20px;
    padding-bottom: 0px;
}

.wrapper {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr);*/
    grid-template-rows: 40px 100px;
    clear: both;
    text-align: center;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.content {
    grid-column: span 12;
    width: 100%;
    clear: both;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}


/* cards */

.card {
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.card-header {
    background-color: $white;
    h4 {
        font-family: Lato;
        font-weight: normal !important;
        font-size: 20px !important;
        line-height: 1.2em;
        color: $gray-dark;
    }
}

.card-body {
    line-height: 1.8;
    div.col:first-child {
        color: $gray-light;
        max-width: 80px !important;
        min-width: 100px;
        padding-right: 5px;
    }
}

.cCard-footer {
    margin-top: 20px;
    background-color: $white;
}

.cl-link_actions {
    display: flex;
}

.cLink,
.cLink-first {
    margin-right: 20px;
}

.cLink-last {
    margin-left: auto;
}

a.cActive {
    font-weight: bold;
    color: #f90;
}

@media screen and (max-width: 1124px) {
    header {
        position: relative;
    }
    .pageHeader {
        grid-area: pageHeader;
        grid-column: span 1;
        border-bottom: 1px solid;
        margin: 30px 20px 0 20px;
    }
    .wrapper {
        display: grid;
        grid-template-rows: 10px 100%;
        grid-template-columns: 100%;
        grid-template-areas: "pageHeader" "content";
        margin-top: 90;
    }
    .content {
        grid-area: content;
        grid-column: span 1;
        top: 20px;
    }
}

@media screen and (max-width: 420px) {
    body {
        margin: 0 0;
    }
    header {
        height: 90px;
        overflow: auto;
        padding: 0px 10px;
        top: 0;
    }
    .header {
        grid-column: span 6;
    }
    .header h1 {
        line-height: 10px;
    }
    .wrapper {
        display: grid;
        clear: both;
        transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
    }
    .pageHeader {
        grid-area: pageHeader;
        grid-column: span;
        border-bottom: 1px solid;
        margin: 0 20px;
    }
    .content {
        grid-column: span;
    }
}

.br {
    border: 2px solid red;
}